{template file="test/header.htm"}
{template name="header", file="test/index.js"}
	
	<div class="card m-2 shadow-sm">
		<div class="card-body">
		<div class="crad-title"><h3>Hello World!</h3></div>

		<ul>
		  
			<li><h3>Template</h3></li>
			<li>Name: {$config['default.frameworkName']}</li>
		    <li>module:<strong>{$moduleName}</strong></li>
			<li>Controller: <strong>{$controllerName}</strong></li>
			<li>Action: <strong>{$actionName}</strong></li>
			</ul>
			<ul>
			<li>sessionExample:<strong> $sessionExample</strong></li>
			<li>cookieExample:<strong>$cookieExample</strong></li>
			<li>globalExample:<strong> $globalExample</strong></li>
			<li>commonExample:<strong>$commonExample</strong></li>			
			<li>langExample: <strong>$langExample</strong></li>
			<li>configExample:<strong>$configExample</strong></li>
			<li>moduleConfigExample:<strong>$moduleConfigExample</strong></li>
			</ul>
			<ul>
			
			<li>IP: <strong>{$ip}</strong></li>
			<li>IPAREA: <strong>{$iparea}</strong></li>
			<li>cached: <strong>{$cached}</strong></li>
			<li>Name: <strong>{$name}</strong>, default:<strong>{$defName}</strong>,
				isRequired:<strong>{$isName}</strong></li>

			</ul>


		<ul>
			<li><b>Using model</b></li> {loop $users $key $user}
			<li>{loop $user $k $v} <span>$k : $v</span> {/loop}
			</li> {/loop}
		</ul>
		</div>
		
		
	</div>
	<div class="card m-2 p-2">
		<div class="card-body">
		<div class="crad-title"><h3>Module</h3></div>	
			<ul>
			{foreach $modules $module}
				<li>Module:{$module->name}, desc:{$module->desc}</li>
			{/foreach}
			{if $modules['tinyphp-ui']}
			<li>
				tinyphp-ui:<a class="link-primary"  href="javascript:$.alert('hello world');void(0)">tinyphp-ui demo</a>
			</li>
			<li>Admin: <a href="/uidemo/admin/index.html">管理后台组件库</a></li>
			<li>Web App:<a href="/uidemo/app/index.html">web应用组件库</a></li>
			<li><i class="flag-icon flag-icon-cn"></i></li>
			<li><div id="summernote"></div></li>
			{/if}
			
		</ul>	
	</div>
	</div>
	{template test/index.php} 
	{template test/index.tpl}
	<div class="card m-2 shadow-sm">
		<div class="card-body">
    		{template test/README.md}
    	</div> 
    </div>
<script>
$(()=>{
	$('#summernote').summernote()
})

</script>

